<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
<h1><%= title %></h1>
  <h3>Welcome to my <%= title %> page!</h3>
  <br>
  <h3>Personal Portfolio - Assignment 1 - COMP 229<h3>
    <h5> Provided by: Mahmoud Eltoukhy</h5>
    <h5> Student#: 301171598 </h5>
    <h5> EmailAddess: 
      meltoukh@my.centennialcollege.ca</h5>
  <h6> " Feel free to navigate through my web site " </h6>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




